div {
    font-family: 'pokemon-font', monospace;
}

.type {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding:0;
}

ul li {
    list-style-type: none;
}

.sprite {
    border: solid black;
}
.modal-body {
    background-image: url('../../assets/pbg.png');
}

.modal-header {
    background-color:#222224;
    color: white;
}

.flavor-text {
    background-color: white;
    padding:1em;
    margin-top:0.5em;
}

img {
    background-image: url('../../assets/gray-white.png'); 
}

.capitalize {
    text-transform: capitalize;
    margin-left: 0.5em;
}

.info {
    background-color: #f0f0f0;
    color: #222224;
    padding:0.5em;
  }

  @media only screen and (max-width: 768px) {
      .info {
        margin-top:0.5em;
      }
  }

  .genus {
      padding-top:0.5em;
  }