<div *ngIf="messageService.messages.length">
  <div class="container-fluid" style="margin-top:2em;">
    <div class="row">
        <div class="col">
                <h2 style="font-family:'pokemon-font', monospace">Messages</h2>
                <button class="clear" (click)="messageService.clear()">CLEAR</button>
                <div class="overflow-auto border border-dark" style="width:relative;height:100px;">
                        <p *ngFor='let message of messageService.messages' style="font-family:'Courier New', Courier, monospace"> {{message}} </p>
                </div>  
        </div>
    </div>
</div>
</div>