<!-- <div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div> -->
<div class="container-fluid">
<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-header">
    <h2 style="text-align:center">NATIONAL POKEDEX</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 heroes">
        <div class="list-group">
          <ng-container *ngFor="let hero of heroes; let i = index">
              <a href="javascript:;" (click)="open(hero.id)" class="list-group-item list-group-item-action" *ngIf="i < heroes.length/3">
                <span class="badge badge-dark">
                  <span class="zero-pad-hundreds" *ngIf="hero.id < 100">0</span>
                  <span class="zero-pad-tens" *ngIf="hero.id < 10">0</span>{{hero.id}}
                </span> 
                <span class="hero-name">{{hero.name | uppercase}}</span>
                <!-- <button class="btn btn-outline-primary btn-block"><span class="badge badge-light pull-left">{{hero.id}}</span>{{hero.name}}</button> -->
                <!-- <span class="badge">{{hero.id}}</span> -->
              </a>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4 heroes">
        <div class="list-group">
          <ng-container *ngFor="let hero of heroes; let i = index">
              <a href="javascript:;" (click)="open(hero.id)" class="list-group-item list-group-item-action" *ngIf="i >= heroes.length/3 && i < 2*heroes.length/3">
                <span class="badge badge-dark">
                  <span class="zero-pad-hundreds" *ngIf="hero.id < 100">0</span>
                  <span class="zero-pad-tens" *ngIf="hero.id < 10">0</span>{{hero.id}}
                </span> 
                <span class="hero-name">{{hero.name | uppercase}}</span>
                <!-- <button class="btn btn-outline-primary btn-block"><span class="badge badge-light pull-left">{{hero.id}}</span>{{hero.name}}</button> -->
                <!-- <span class="badge">{{hero.id}}</span> -->
              </a>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4 heroes">
        <div class="list-group">
          <ng-container *ngFor="let hero of heroes; let i = index">
              <a href="javascript:;" (click)="open(hero.id)" class="list-group-item list-group-item-action" *ngIf="i >= 2*heroes.length/3">
                <span class="badge badge-dark">
                  <span class="zero-pad-hundreds" *ngIf="hero.id < 100">0</span>
                  <span class="zero-pad-tens" *ngIf="hero.id < 10">0</span>{{hero.id}}
                </span> 
                <span class="hero-name">{{hero.name | uppercase}}</span>
                <!-- <button class="btn btn-outline-primary btn-block"><span class="badge badge-light pull-left">{{hero.id}}</span>{{hero.name}}</button> -->
                <!-- <span class="badge">{{hero.id}}</span> -->
              </a>
          </ng-container>
        </div>
      </div>
      <!-- <div class="col-md-3 heroes">
          <div class="list-group">
            <div *ngFor="let hero of heroes; let i = index">
                <a href="javascript:;" (click)="open(hero.id)" class="list-group-item list-group-item-action" *ngIf="i >= 3*heroes.length/4">
                  <span class="badge badge-dark">
                    <span class="zero-pad-hundreds" *ngIf="hero.id < 100">0</span>
                    <span class="zero-pad-tens" *ngIf="hero.id < 10">0</span>{{hero.id}}
                  </span> 
                  <span class="hero-name">{{hero.name | uppercase}}</span>
                  
                    <span class="badge">{{hero.id}}</span> 
                </a>
            </div>
          </div>
        </div> -->
    </div>
  </div>
  </div>
</div>